@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
    background-image: url("../../homepage_login_register/background0.png");
    background-size: cover;
    background-position: center;
}

header {

    width: 100%;
    height: 100vh;
    background-size: cover;
}

header .navbar {
    width: 100%;
    height: 6.25em;
    display: flex;
    text-align: center;
    justify-content: space-around;
    color: white;
    font-family: 'Josefin Sans', sans-serif;

}

@media (max-width: 767px) {
    .header .navbar {

        height: auto;
        justify-content: center;
        padding: 0.6250em;

    }
}


@media (min-width: 768px) {
    .header .navbar {
        height: 5em;

    }
}

header .navbar .logo {
    margin-top: 1.25em;
    font-size: 1.4em;
    color: transparent;
}

header .navbar .menu a {
    color: #00FF00;
    font-size: 1.25em;
    text-decoration-line: none;
    padding: 0.375em 0.9375em;
    font-weight: 600;
    background-color: #00008B;
    border-radius: 0.18em;
}

header .navbar .menu a i {
    margin-top: 1.25em;
}

header .navbar .menu a span {
    font-size: 1.25em;
    margin-left: 0.625em;
}

header .navbar .menu a:hover {
    background-color: #00FF00;
    color: #00008B;
    transition: 0.5s;
}



header .navbar .button {
    text-decoration: none;
    text-align: center;
    margin-top: 1vh;
    color: white;
    font-size: 1em;
    border: 1px solid white;
    border-radius: 5px;
    padding: 0.625em 1.25em;
    background-color: brown;
    transition: 0.4s;
    max-height: 2vh;
    min-width: 5vw;
    flex-basis: calc(10% - 1.25em);
    margin-right: 0.1em;
    width: 20vw;
}

.button a {
    font-size: 0.5em;
    color: #00F00F;
}

header .navbar .button:hover {
    background-color: transparent;
    color: limegreen;
    border: 1px solid green;
}

@media (max-width: 767px) {
    .header .navbar .menu a {
        font-size: 1em;
        padding: 0.25em 0.625em;
    }

    .header .navbar .menu a i {
        margin-top: 0.625em;
    }

    .header .navbar .menu a span {
        font-size: 1em;
        margin-left: 1em;
    }

}


@media (min-width: 768px) {
    .header .navbar .menu a {
        font-size: 1.25em;
        padding: 0.37em 0.93em;
    }

    .header .navbar .menu a i {
        margin-top: 1.25em;
    }

    .header .navbar .menu a span {
        font-size: 1.25em;
        margin-left: 0.625em;
    }

    a {
        font-size: 1em;
    }

    .button a {
        font-size: 1em;
    }


}


h1 {
    font-size: 3em;
    color: #00FF00;
    margin-top: 1.25em;
    text-align: center;
}


@media (max-width: 767px) {
    h1 {
        font-size: 2em;
        margin-top: 2em;
    }
}


@media (min-width: 768px) {
    h1 {
        font-size: 3em;
        margin-top: 1.25em;
    }
}


body .information {
    margin-top: -31em;
    margin-left: 2.5em;
    margin-right: 2.5em;
    padding: 3.625em;
    background-color: #00008B;
    border-radius: 0.93em;
    padding: 0.625em;
    margin-bottom: 1.25em;

}

.title {
    position: relative;
    text-align: center;
    color: #00FF00;
    font-weight: bold;
    font-size: 1.5em;
    margin-top: 0;
}

.text {

    color: #00FF00;
    font-weight: lighter;
    font-size: 1.25em;
    text-align: center;
    margin-bottom: 0;
}

.table {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 18.7em;
    background-color: #00008B;
    padding: 0.37em;
    margin-left: 2.5em;
    margin-right: 2.5em;
    margin-bottom: 3.1em;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

img {
    border-radius: 8px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    background-color: #00008B;
}


@media (max-width: 767px) {
    .body .information {
        margin: -31em 2.5em 1.25em 2.5em;
        padding: 1.25em;
    }

    .table {
        height: 12.5em;
        margin: 1.25em;
        padding: 0.3em
    }

    img {
        width: 100%;
        margin: 0.625em;
    }
}


@media (min-width: 768px) {
    .body .information {
        margin: 3.1em 6.2em;
        padding: 3.1em;
    }

    .table {
        height: 25em;
        margin: 3.1em 6.2em;
        padding: 0.625em;
    }

    img {
        width: 70%;
        margin: 1.25em;
    }
}

@media (max-width: 767px) {
    .body .information {
        margin: 3.1em 6.2em;
        padding: 3.1em;
    }

    .table {
        height: 25em;
        margin: 3.1em 6.2em;
        padding: 0.625em;
    }

    img {
        width: 100%;
        margin: 1.25em;
    }
}

.select-menu-container {
    display: flex;
    margin-bottom: 3.1em;
    margin-left: 43.7em;
}

.select-menu {
    width: 18.7em;
    height: 0.625em;
    margin: 3.1em auto;
    margin-top: -0.625em;
    margin-bottom: 3.1em;


}

.select-menu .select-button {
    display: flex;
    height: 1.25em;
    background: #00FF00;
    padding: 1.25em;
    font-size: 1.25em;
    border-radius: 8px;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
    color: #091836;
    margin-bottom: 0.625em;
    flex-direction: row-reverse;

    bottom: 0;
    right: 0;


}

.select-button i {
    font-size: 1.3em;
    transition: 0.3s;
}

.select-menu .options {
    position: relative;
    padding: 1.25em;
    margin-top: 0.625em;
    border-radius: 8px;
    background: #091836;

    display: none;
}

.select-menu.active .options {
    display: block;
}

.options .option {
    display: flex;
    height: 6.2em;
    cursor: pointer;
    padding: 0 1em;
    border-radius: 8px;
    align-items: center;
    background: #091836;
}

.options .option:hover {
    background: #00008B;
}

.option .option-text {
    font-size: 1.2em;
    color: #00FF00;
}

@media (max-width: 768px) {
    .select-menu-container {
        margin-left: 6.2em;
        margin-right: 6.2em;
    }

    .select-menu {
        width: 90%;
    }

    .select-menu .options {
        padding: 0.625em;
    }
}


@media (max-width: 480px) {
    .select-menu-container {
        flex-direction: column;
        align-items: center;
    }

    .select-menu {
        width: 90%;
        margin: 1.25em 0;
        margin-right: 0.625em;
    }

    .select-menu .select-button {
        font-size: 1.125em;
        padding: 0.93em;
        margin-right: 0.625em;
    }

    .options .option {
        height: 5em;
        padding: 0 0.625em;
    }

    .option .option-text {
        font-size: 1em;
    }
}

.select-format {
    margin-left: 2em;
    margin-top: 0.2em;
    color: #00FF00;
    font-size: 1.5em;
}

#format-select {
    background-color: #091836;
    padding: 0.2em;
    color: #00FF00;
    margin-left: 0.625em;
    font-size: 1.5em;
    font-family: 'Josefin Sans', sans-serif;

}