@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
    background-image: url("../../homepage_login_register/background0.png");
    background-size: cover;
    background-position: center;
}

header {

    width: 100%;
    height: 100vh;
}

header .navbar {
    width: 100%;
    height: 6.25em;
    display: flex;
    text-align: center;
    justify-content: space-around;
    color: white;
    font-family: 'Josefin Sans', sans-serif;

}

@media (max-width: 767px) {
    .header .navbar {

        height: auto;
        justify-content: center;
        padding: 0.6250em;

    }
}


@media (min-width: 768px) {
    .header .navbar {
        height: 5em;

    }
}

header .navbar .logo {
    margin-top: 1.25em;
    font-size: 1.5em;
    color: transparent;
}

@media (max-width: 767px) {
    .header .navbar .logo {
        margin-top: 0.625em;
        font-size: 1.25em;
    }
}


@media (min-width: 768px) {
    .header .navbar .logo {
        margin-top: 1.25em;
        font-size: 1.5em;
    }
}

header .navbar .menu a {
    color: #00FF00;
    font-size: 1.25em;
    text-decoration-line: none;
    padding: 0.375em 0.9375em;
    font-weight: 600;
    background-color: #00008B;
    border-radius: 0.18em;
}

header .navbar .menu a i {
    margin-top: 1.25em;
}

header .navbar .menu a span {
    font-size: 1.25em;
    margin-left: 0.625em;
}

header .navbar .menu a:hover {
    background-color: #00FF00;
    color: #00008B;
    transition: 0.5s;
}



.button {
    text-decoration: none;
    text-align: center;
    margin-top: 1vh;
    color: white;
    font-size: 1em;
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px 20px;
    background-color: brown;
    transition: 0.4s;
    max-height: 2vh;
    min-width: 5vw;
    flex-basis: calc(10% - 20px);
    margin-right: 0.1em;
    width: 20vw;
}

.button a {
    font-size: 0.5em;
    color: #00F00F;
}

header .navbar .button:hover {
    background-color: transparent;
    color: limegreen;
    border: 1px solid green;
}

@media (max-width: 767px) {
    .header .navbar .menu a {
        font-size: 1em;
        padding: 0.25em 0.625em;
    }

    .header .navbar .menu a i {
        margin-top: 0.625em;
    }

    .header .navbar .menu a span {
        font-size: 1em;
        margin-left: 1em;
    }

}


@media (min-width: 768px) {
    .header .navbar .menu a {
        font-size: 1.25em;
        padding: 0.37em 0.93em;
    }

    .header .navbar .menu a i {
        margin-top: 1.25em;
    }

    .header .navbar .menu a span {
        font-size: 1.25em;
        margin-left: 0.625em;
    }

    a {
        font-size: 1em;
    }

    .button a {
        font-size: 1em;
    }


}



h1 {
    font-size: 3em;
    color: #00FF00;
    margin-top: 1.25em;
    text-align: center;
}


@media (max-width: 767px) {
    h1 {
        font-size: 2em;
        margin-top: 2em;
    }
}


@media (min-width: 768px) {
    h1 {
        font-size: 3em;
        margin-top: 1.25em;
    }
}


body .information {
    margin-top: -31em;
    margin-left: 2.5em;
    margin-right: 2.5em;
    padding: 3.625em;
    background-color: #00008B;
    border-radius: 0.93em;
    padding: 0.625em;
    margin-bottom: 1.25em;
}

.title {
    position: relative;
    text-align: center;
    color: #00FF00;
    font-weight: bold;
    font-size: 1.5em;
    margin-top: 0;
}

.text {
    color: #00FF00;
    font-weight: lighter;
    font-size: 1.25em;
    text-align: center;
    margin-bottom: 0;
}



.choosefilter {
    position: relative;
    margin-top: 0;
    margin-left: 2.5%;
    margin-right: 2.4%;
    padding: 1.25em;
    background-color: #00008B;
    border-radius: 15px;
    margin-bottom: 1.25em;
}

.filter {
    text-align: left;
    color: #00FF00;
    font-weight: bold;
    font-size: 1.5em;
    margin-top: 0;
    margin-left: 0.625em;
}


@media (max-width: 767px) {
    body .information {
        margin: -31em 2.5em 1.25em 2.5em;
        padding: 1.25em;
    }

    .title {
        font-size: 1.2em;
    }

    .text {
        font: size 1em;
    }

    .choosefilter {
        margin: 0px 2.5em 1.25em 2.5em;
        padding: 1.25em;

    }

    .filter {
        font-size: 1.2em;
    }
}


@media (min-width: 768px) {
    body .information {
        margin: -28em 2.5em 1.25em 2.5em;
        padding: 1.9em;
    }

    .title {
        font-size: 1.5em;
    }

    .text {
        font-size: 1.25em;
    }

    .choosefilter {
        margin: 0 2.5em 1.25em 2.5em;
        padding: 1.9em;
    }

    .filter {
        font-size: 1.5em;
    }
}


.select-menu-container {
    display: flex;
    flex-direction: row;
}

.select-country {
    color: #00FF00;
    font-size: 1.2em;
}

#country-select {
    background-color: #091836;
    padding: 0.2em;
    color: #00FF00;
    margin-left: 0.625em;
    font-family: 'Josefin Sans', sans-serif;

}

.select-year {
    margin-left: 2em;
    color: #00FF00;
    font-size: 1.2em;
}

#year-select {
    background-color: #091836;
    padding: 0.2em;
    color: #00FF00;
    margin-left: 0.625em;
    font-family: 'Josefin Sans', sans-serif;

}


@media (min-width: 576px) and (max-width: 992px) {
    .select-menu .select-button {
        font-size: 1.125em;
        margin-right: 1.25em;
    }

    .option .option-text {
        font-size: 1.125em;
    }
}


@media (min-width: 992px) {
    .select-menu-container {
        flex-direction: row;
    }

    .select-menu {
        margin: 3.1em auto;

    }

    .select-menu .select-button {
        font-size: 1.25em;
        padding: 0.93em 1.25em;
        margin-right: 0.625em;
    }

    .option .option-text {
        font-size: 1.25em;
    }
}


.chooseformat {
    margin-top: 1.9em;
    margin-left: 2.5em;
    margin-right: 2.5em;
    padding: 3.12em;
    background-color: #00008B;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 0.625em;
    margin-bottom: 1.25em;

}

.format {
    text-align: left;
    color: #00FF00;
    font-weight: Bold;
    font-size: 1.5em;
    margin-top: 0;
    margin-left: 0.625em;

}

@media (max-width: 767px) {

    .chooseformat {
        margin: 0px 2.5em 1.25em 2.5em;
        padding: 1.25em;

    }

    .format {
        font-size: 1.2em;
    }
}

@media (min-width: 768px) {

    .chooseformat {
        margin: 0px 2.5em 1.25em 2.5em;
        padding: 0.625em;
    }

    .format {
        margin-top: 0.5em;
        font-size: 1.5em;
    }
}


.content {
    width: 18.7em;
    height: 0.625em;
    margin: 3.12em auto;
    margin-top: -0.625em;
}

.content .generate {
    display: flex;
    height: 1.25em;
    background: #091836;
    padding: 1.25em;
    font-size: 1.125em;
    font-weight: lighter;
    border-radius: 8px;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
    color: #00FF00;
    flex-direction: row-reverse;

}

.content label {
    color: #00FF00;
    user-select: none;
    padding-left: 0.3em;
    font-family: "Josefin Sans", sans-serif;
    font-size: 1.125em;
    font-weight: lighter;

}

@media screen and (max-width: 900px) {
    .content {
        width: 95%;
        margin-bottom: 1.25em;
    }

    .content .generate {
        padding: 0.625em;
        font-size: 0.875em;
    }

    .content label {
        font-size: 0.875em;
    }
}