body {
    margin: 0;
    padding: 0;
}

header {
    background-image: url("background0.png");
    width: 100%;
    height: 100%;
    background-size: cover;
    min-height: 100vh;
    background-position: center;
    position: relative;
    padding: 0;
    overflow-x: hidden;
}

.menu {
    font-size: 0.5em;
}

.menu a {
    flex-basis: calc(25% - 20px);
    margin-right: 0.5em;
}

.navbar {
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: space-around;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    margin-top: 2vh;
}

header .navbar .logo {
    margin-top: 1.25em;
    font-size: 1.5em;
    color: transparent;
}

@media (max-width: 767px) {
    .header .navbar .logo {
        margin-top: 0.625em;
        font-size: 1.25em;
    }
}


@media (min-width: 768px) {
    .header .navbar .logo {
        margin-top: 1.25em;
        font-size: 1.5em;
    }
}

header .navbar .menu a {
    color: #00FF00;
    font-size: 1em;
    text-decoration-line: none;
    padding: 6px 15px;
    font-weight: 600;
    background-color: #00008B;
    border-radius: 3px;
    margin-top: 0;
    margin-left: 0;
}

header .navbar .menu a span {
    font-size: 1.3em;
    margin-left: 0.5em;
}

header .navbar .menu a:hover {
    background-color: #00FF00;
    color: #00008B;
    transition: 0.5s;
}

@media (max-width: 767px) {
    .header .navbar {
        flex-wrap: wrap;
        height: auto;
        justify-content: center;
        padding: 10px;
    }
}


.toggle-btn {
    text-decoration: none;
    text-align: center;
    margin-top: 1em;
    position: relative;
    color: #00F00F;
    font-size: 1em;
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px 20px;
    background-color: brown;
    transition: 0.4s;
    max-height: 5vh;
    min-width: 5vw;
    flex-basis: calc(10% - 20px);
    margin-right: 0.1em;
    width: 30vw;

}

header .navbar .toggle-btn:hover {
    background-color: transparent;
    color: limegreen;
    border: 1px solid green;
}


.caption {
    margin-top: 60px;
    color: white;
    text-align: center;
}

.education {
    color: lime;
    margin-bottom: -50px;
    letter-spacing: 5px;
    font-size: 20px;
    font-weight: bold;
}

h1 {
    font-size: 4em;
    color: greenyellow;
}

p {
    font-size: 20px;
    margin-top: -30px;
    color: #00F00F;

}

@media screen and (max-width: 805px) {
    .menu a {
        flex-basis: 50%;
    }
}

@media screen and (max-width: 940px) {
    header.navbar.menu a {
        font-size: 1.5em;
    }

    header.navbar.menu a span {
        font-size: 1.5em;
    }
}

@media (min-width: 805px) {
    .menu {
        font-size: 1em;
    }

    a {
        font-size: 1em;
    }

    .toggle-btn a {
        font-size: 1em;
    }

}

#preloader {
    background: #091836 url("logo-gif.gif") no-repeat center;
    z-index: 100;
    height: 100vh;
    width: 100%;
    position: fixed;
    background-size: 30%;

}

.frame {
    display: none;
}