@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
    max-height: 100vh;
    width: 100%;
}
header {
    min-height: 100vh;
    width: 100%;
    height: 100%;
    background-image: url("images/bck2.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    padding: 0;
    overflow-x: hidden;
}
.menu{
    font-size: 0.5em;
}
.menu a{
    flex-basis: calc(25% - 20px);
    margin-right: 0.5em;
}
.navbar{
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: space-around;
    color: white;
    margin-top: 2vh;
}
.navbar {
    width: 100%;
    height: 100px;
    display: flex;
    text-align: center;
    justify-content: space-around;
    color: white;
    font-family: 'Josefin Sans', sans-serif;

}
@media (max-width: 767px) {
    .header .navbar {
        flex-wrap: wrap;
        height: auto;
        justify-content: center;
        padding: 10px;
    }
}
header .navbar .menu a {
    color: #00FF00;
    font-size: 1em;
    text-decoration-line: none;
    padding: 6px 15px;
    font-weight: 600;
    background-color: #00008B;
    border-radius: 3px;
    margin-left: 0;
    margin-top: 0;

}
header .navbar .menu a span {
    font-size: 1.3em;
    margin-left: 0.5em;
}
header .navbar .menu a:hover {
    background-color: #00FF00;
    color: #00008B;
    transition: 0.5s;
}
.button{
    text-decoration: none;
    text-align: center;
    margin-top: 1vh;
    color: white;
    font-size: 1em;
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px 20px;
    background-color: brown;
    transition: 0.4s;
    max-height: 2vh;
    min-width: 5vw;
    flex-basis: calc(10% - 20px);
    margin-right: 0.1em;
    width: 20vw;
}
.button a{
    font-size: 0.5em;
    color: #00F00F ;
}
header .navbar .button a:hover {
    background-color: transparent;
    color: limegreen;
    border: 1px solid green;
}
h1 {
    color: #00F00F;
    position: relative;
    text-align: center;
    font-size: 0.8rem;
    margin-top: -3vh;
}
.subtitle h2 {
    text-align: center;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 0.7rem;
    z-index: 1;
    color: #00F00F;
}
.subtitle h2::after {
    content: "";
    height: 1vh;
    width: 10vw;
    background-color: #00F00F;
    display: block;
    margin: auto;
}
.services {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.card {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin: 0px 20px;
    padding: 20px 20px;
    background-color: #00008B;
    border-radius: 10px;
    cursor: pointer;
    max-height: 60vh;
}
.card:hover {
    background-color: #091836;
    transition: 0.4s ease;
}
.card h3 {
    font-size: 1em;
    color: #00F00F;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin: 0px 20px;
    max-height: 60vh;
}
.card p1 {
    font-size: 0.7rem;
    line-height: 1.5;
    color: #00F00F;
    margin-bottom: 20px;
}
.card p3 {
    font-size: 0.7rem;
    line-height: 1.5;
    color: #00F00F;
    margin-bottom: 30px;
}
.button_read1 {
    font-size: 0.8em;
    text-decoration: none;
    color: #00F00F;
    background-color: #4585ee;
    padding: 8px 12px;
    border-radius: 5px;
    letter-spacing: 1px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.button_read1:hover {
    background-color: #091836;
    transition: 0.4s ease;
}
@media screen and (max-width: 805px) {
    .menu a {
        flex-basis: 50%;
    }
}
@media screen and (max-width: 940px) {
    .services {
        display: flex;
        flex-direction: column;
    }

    .card {
        width: 85%;
        display: flex;
        margin: 20px 0px;
        max-height: 20vh;
    }
    .card h2 {
        width: 80%;
        display: flex;
        max-height: 15vh;
    }
    header.navbar.menu a{
        font-size: 1.5em;
    }
    header.navbar.menu a span{
        font-size: 1.5em;
    }
}
@media (min-width: 805px) {
    .card h3 {
        font-size: 1.5em;
    }
    .card p1 {
        font-size: 1rem;
    }
    .card p3 {
        font-size: 1rem;
    }
    .button_read1 {
        font-size: 1rem;
    }
    .menu {
        font-size: 1em;
    }
    h1 {
        font-size: 1.5rem;
    }
    .subtitle h2 {
        font-size: 1.3rem;
    }
    a {
        font-size: 1em;
    }
    .button a {
        font-size: 1em;
    }
}
@media (max-width: 400px) {
    h1 {
        display: none;
    }
    h2 {
        display: none;
    }
}