* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
    background: #091836;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nume {
    content: '';
    position: absolute;
    width: 270px;
    height: 270px;
    background: radial-gradient(ellipse at top, #68cce5, transparent),
        radial-gradient(ellipse at bottom, #4585ee, transparent);
    border: 7px solid white;
    z-index: 1;
    overflow: hidden;
}

.nume::before {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(50deg, transparent, transparent, #3f4dde, #9ff8ac, #3f4dde);
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 20s linear infinite;

}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.nume::after {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(50deg, transparent, transparent, #3f4dde, #9ff8ac, #21e34c);
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 20s linear infinite;
    animation-delay: -30s;
}

.borderline {
    position: absolute;
    top: 0;
    inset: 0;
}

.nume-inner {
    width: 200px;
    height: 200px;
    text-align: center;
    font-size: 73px;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-size-adjust: auto;
    font-family: sans-serif, "Britannic Bold", "Lucida Bright";
    color: white;
    float: bottom;
}

.circle {

    position: relative;
    margin-right: -75px;
    margin-left: 90px;
    margin-top: 10px;

}

.circle::before,
.circle::after {
    content: '';
    width: 43px;
    height: 80px;
    border: 9px solid paleturquoise;
    border-radius: 210%;
    position: absolute;
    margin-top: -50px;

}

.circle::before {
    left: -50px;
    margin-left: 10px;

}

.circle::after {
    right: -110px;
    margin-right: 25px;
}

.circle::before {
    animation: sparkle 20s linear infinite;
}

.circle::after {
    animation: sparkle 20s linear infinite;
}

@keyframes sparkle {
    0% {
        opacity: 0.5;
        transform: scale(1);
    }

    50% {
        opacity: 1;
        transform: scale(1.2);
    }

    100% {
        opacity: 0.5;
        transform: scale(1);
    }
}