body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-height: 80vh;
    font-family: 'Josefin Sans', sans-serif;
}

.header {
    min-height: 100vh;
    width: 100%;
    height: 100%;
    background-image: url("images/bck2.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    filter: brightness(60%);
    padding: 0;
}

h1 {
    position: relative;
    top: -90vh;
    left: 40vw;
    color: #00ff00;
    font-size: 0.7rem;
    margin-top: 0;
    margin-left: 0;
    max-width: 50vw;
    text-decoration: underline;
    text-decoration-thickness: 5px;
}
.toggle-btn {
    position: absolute;
    margin-top: -19.5rem;
    right: 10rem;
    padding: 10px 20px;
    background-color: #d94b4b;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 9999;
    overflow: hidden;
    font-size: 0.8em;
    text-decoration: none;
}

.toggle-btn:hover {
    background-color: #c21717;
}

.toggle-btn:focus {
    outline: none;
}
.exit-btn {
    position: absolute;
    margin-top: -21em;
    right: 10rem;
    display: inline-block;
    padding: 10px 20px;
    background-color: #33ec2d;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 0.8em;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    z-index: 9999;

}


.exit-btn:hover {
    background-color: #d94b4b;
}

.exit-btn:focus {
    outline: none;
}

.profil-pic {
    position: absolute;
    border-radius: 30%;
    object-fit: cover;
    width: 12vw;
    margin-top: -89vh;
    z-index: 1;
    left: 25px;
}

.all {
    position: absolute;
    margin-top: -41vh;
    color: #00f00f;
    left: 10vw;
    font-size: 1em;
    width: 80%
}

.info-box {
    background-color: #091836;
    border: 2px solid #00F00F;
    border-radius: 5px;
    padding: 15px;
    margin-top: -27px;
}

.email {
    margin-bottom: 10px;
    font-size: 2vw;
}

.nume {
    margin-bottom: 10px;
    font-size: 2vw;
}

.surnume {
    margin-bottom: 10px;
    font-size: 2vw;
}

.usernume {
    margin-bottom: 10px;
    font-size: 2vw;
}

.change {
    margin-bottom: 10px;
    font-size: 2vw;
}

.confirm {
    margin-bottom: 10px;
    font-size: 2vw;
}

.form-control {
    width: 18vw;
    height: auto;
}

.select-country {
    color: #00F00F;
    font-size: 2vw;
    height: auto;
}



#country-select {
    font-size: 0.75em;
    padding: 5px;
    height: auto;
    width: 18vw;
    margin-left: 10.6em;
    position: relative;
    top: -1.38em;
}


@media (min-width: 768px) {
    h1 {
        font-size: 1.5rem;
    }

    .all {
        font-size: 1.3em;
    }

  .toggle-btn{
        font-size: 1em;
        position: absolute;
        margin-top: -17em;
    }
    .exit-btn{
        font-size: 1em;
        position: absolute;
        margin-top: -14em;
    }
    
}

@media (min-width: 1024px) {
    h1 {
        font-size: 1.5rem;
    }

    .all {
        font-size: 1.5em;
    }
.toggle-btn{
        font-size: 1.2em;
        position: absolute;
        margin-top: -11.5em;
    }
    .exit-btn{
        font-size: 1.2em;
        position: absolute;
        margin-top: -9em;
    }
  
}

@media (max-width: 768px) {
    .form-control {
        height: auto;
    }
}
